%h1 Place a Bid
Current bid value:
= "$#{current_bid_value(@auction)}"
= render "form", bid: @bid

%div
  = link_to "Back to Auctions", auctions_path, class: "btn button-link"
  = link_to "← Back", :back, class: "button btn btn-secondary"

