- show_price = local_assigns.fetch(:show_price, false)
- show_description = local_assigns.fetch(:show_description, false)
- show_details = local_assigns.fetch(:show_details, false)
- show_publish = local_assigns.fetch(:show_publish, false)

.card
  %h3.card-title= link_to auction.title, auction_path(auction), class: "card-link"

  = auction_price(auction, show_price)
  = auction_description(auction, show_description)
  %div.auction-timings
    %dl
      %div.timing.start
        %dt Start Time:
        %dd= auction_start_time(auction)
      %div.timing.end
        %dt End Time:
        %dd= auction_end_time(auction)

  %div.page-wrapper
    = auction_details_link(auction, show_details)
    = auction_publish_button(auction, show_publish)

