<!DOCTYPE html>
<html>
  <head>
    <title>BidNest — Secure & Smart Auctions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class="app-header">
      <nav class="navbar">
        <div class="nav-actions">
            <% unless current_page?(dashboard_path) || current_page?(authenticated_root_path) %>
              <div class="action-buttons">
                <%= link_to "Sell", manage_auctions_auctions_path, class: "btn btn-primary button-link" %>
                <%= link_to "Buy", auctions_path, class: "btn btn-primary button-link" %>
                <%= link_to "My Bids", bids_path, class: "btn btn-primary button-link" %>
              </div>
            <% end %>
          <% if user_signed_in? %>
            <div class="logout-button">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn button-link logout" %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <% flash_class =
          case type.to_sym
          when :notice then "flash-notice"
          when :alert then "flash-alert"
          else "flash-info"
          end %>
      <div class="<%= flash_class %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <p>&copy; 2025 BidSphere</p>
    </footer>
  </body>
</html>
